.normal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(3, 37, 65);
    height: 64px;
    z-index: 50;
    transition: top .2s linear;
    
    .logo {
        display: block;
        margin-right: 16px;
        width: 154px;
        height: 20px;
    }
}