.normal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(3, 37, 65);
    height: 64px;
    transition: top .2s linear;
    min-width: 1000px;
    .logo {
        display: block;
        margin-right: 16px;
        width: 154px;
        height: 20px;
    }
}